<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-item_link" href="../">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" href="/contacto">Contacto</a>
        </li>
    </ul>
</nav>